.card {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;

    border-radius: 5px;
    min-height: 300px;

    width: 20%;
    margin: 0 15px;

    -webkit-box-shadow: 4px 4px 17px -5px rgba(150,150,150,1);
    -moz-box-shadow: 4px 4px 17px -5px rgba(150,150,150,1);
    box-shadow: 4px 4px 17px -5px rgba(150,150,150,1);

    transition: background 0.3s;    
}

.card .footer {
    background: white;
    position: relative;
    bottom: 0;
}